:root {
  --primaryColor: #3A689C;
  --primaryColorHover: #285689;
  --backgroundColor: #F0F3F8;
  --textColor: #202020;
  --softtextColor: #66757D;
  --borderColor: #E4E7EC;
  --greenColor: #15AA49;
  --redColor: #A31818;
}